body {
    font-family: Arial;
    margin: 40px;
}

img {
    border-radius: 10px;
}

/* 🎨 Nupu stiil */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.top-movies {
    display: flex;
    gap: 20px;
}

.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}