<!DOCTYPE html>
<html>
<head>
    <title>Kino Leht</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Kino Filmid</h1>
    <ul>
        {% for movie in movies %}
        <li>
            <img src="{{ movie[3] }}" alt="{{ movie[1] }}" width="150">
            <h2><a href="{{ url_for('movie_detail', movie_id=movie[0]) }}">{{ movie[1] }}</a></h2>
            <p>{{ movie[2] }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
